.nav-link, .color {
    color: #C5A880;
    font-family: 'Cormorant SC', serif;
    font-size: 30px;
}

.nav-link:hover, .color:hover {
    color: black;
}

h2, .comp {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.carousel-inner {
    max-height: 80vh;
}

.afro, .text {
    background-color: #F7F7F7;
}

.tik {
    border: 1px solid #C5A880;
}

h1, h4, .lead {
    font-family: 'Cormorant SC', serif;
    color: #C5A880;
}

h3, .text {
    font-family: 'Roboto Slab', serif;
    font-size: 27px;
}

.font {
    color: black;
    font-family: 'Cormorant SC', serif;
    font-size: 25px;
    list-style: none;
}

svg {
    color: #C5A880;
}

.leads {
    font-family: 'Cormorant SC', serif;
    font-size: 25px;
    color: #C5A880;
}

.gold {
    background-color: #C5A880;
}

a {
    color: black;
}

a:hover {
    color: #C5A880;
}

.font-list {
    color: black;
    font-family: 'Cormorant SC', serif;
    font-size: 20px;
    list-style: none;
    height: 200px;
    padding: 0;
}

.input:focus {
    border: 1px solid black;
    outline: none;
}

.check {
    width: 20px;
    height: 20px;
}

.check:checked {
    background-color: #C5A880;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C5A880'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
    background-color: black;
    color: #C5A880;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: inherit;
}

.card-item {
    width: 295px;
}

.card-item img {
    width: 100%;
    height: 200px;
}

.card-title {
    height: 60px;
}

.card-text {
    height: 90px;
}

@media all and (max-width: 800px) {
    .card-title {
        height: 50px;
    }

}

@media all and (max-width: 500px) {
    .cards {
        justify-content: center !important;
    }

    .footer {
        justify-content: center !important;
    }

    h2, .comp, .nav-link, .font, .color {
        font-size: 20px;
    }

    #form {
        padding: 15px !important;
    }
}